<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="obit_manager_settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <obit_manager_settings.Properties.Settings>
            <setting name="Jdk64bitURL" serializeAs="String">
                <value>https://corretto.aws/downloads/latest/amazon-corretto-8-x64-windows-jre.zip</value>
            </setting>
            <setting name="Jdk32bitURL" serializeAs="String">
                <value>https://corretto.aws/downloads/latest/amazon-corretto-8-x86-windows-jre.zip</value>
            </setting>
            <setting name="Jdk64bitMD5URL" serializeAs="String">
                <value>https://corretto.aws/downloads/latest_checksum/amazon-corretto-8-x64-windows-jre.zip</value>
            </setting>
            <setting name="Jdk32bitMD5URL" serializeAs="String">
                <value>https://corretto.aws/downloads/latest_checksum/amazon-corretto-8-x86-windows-jre.zip</value>
            </setting>
            <setting name="DatamoverJslURL" serializeAs="String">
                <value>https://github.com/aarpon/obit_datamover_jsl/archive/0.2.0.zip</value>
            </setting>
            <setting name="DatamoverURL" serializeAs="String">
                <value>https://wiki-bsse.ethz.ch/download/attachments/21567716/datamover-15.06.0-r34542.zip</value>
            </setting>
            <setting name="AnnotationTool64bitURL" serializeAs="String">
                <value>https://github.com/aarpon/obit_annotation_tool/releases/download/2.1.0/obit_annotation_tool_2.1.0_64bit.zip</value>
            </setting>
            <setting name="AnnotationTool32bitURL" serializeAs="String">
                <value>https://github.com/aarpon/obit_annotation_tool/releases/download/2.1.0/obit_annotation_tool_2.1.0_32bit.zip</value>
            </setting>
        </obit_manager_settings.Properties.Settings>
    </applicationSettings>
</configuration>